body {
  font: 1.2em / 1.5 sans-serif;
}

* {
  box-sizing: border-box;
}

.container {
  padding: 0.5em;
  border: 5px solid #cccccc;
}

.target {
  width: 150px;
  height: 150px;
  background: #633998;
  border-radius: 5px;
  padding: 1em;
  color: white;
}

.container {
  position: relative;

}

.target {
  position: absolute;
  top: 0;
  right: 0;
}