a {
  outline-color: transparent;
  padding: 2px 1px 0;
  color: #265301;
}

a:visited {
  color: #437a16;
}

a:hover,
a:focus {
  background: #bea498;
  text-decoration: none;
}

a:active {
  background: #265301;
  color: #cdfeaa;
}
